<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="appUsuario">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Import de JavaScript -->
<script type="text/javascript" src="../../resources/lib/angular.min.js"></script>
<script type="text/javascript"	src="../../resources/lib/angular-locale_pt-br.js"></script>
<script type="text/javascript"	src="../../resources/app/js/controllers/usuario/usuario-controller.js"></script>
<script type="text/javascript"	src="../../resources/lib/angular-block-ui.js"></script>

<script type="text/javascript"	src="../../resources/lib/jquery-1.9.1.js"></script>

<script type="text/javascript"	src="../../resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"	src="../../resources/plugin/util.js"></script>

<!-- Import de CSS -->
<link href="../../resources/bootstrap/css/bootstrap.css"	rel="stylesheet" type="text/css" />
<link href="../../resources/css/custom.css"	rel="stylesheet" type="text/css" />
<link href="../../resources/css/angular-block-ui.css"	rel="stylesheet" type="text/css" />


<!-- Import Fonts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


<!-- Import Plugin -->
<script type="text/javascript"	src="../../resources/plugin/bootbox.js"></script>
<script type="text/javascript"	src="../../resources/plugin/lobibox.js"></script>
<script type="text/javascript"	src="../../resources/plugin/bootstrap-datepicker.js"></script>
<script type="text/javascript"	src="../../resources/plugin/bootstrap-datepicker.pt-BR.js"></script>

<link href="../../resources/css/lobibox.css"	rel="stylesheet" type="text/css" />
<link href="../../resources/css/datepicker3.css"	rel="stylesheet" type="text/css" />

<style>
    /* FROM HTTP://WWW.GETBOOTSTRAP.COM
     * Glyphicons
     *
     * Special styles for displaying the icons and their classes in the docs.
     */

    .bs-glyphicons {
      padding-left: 0;
      padding-bottom: 1px;
      margin-bottom: 20px;
      list-style: none;
      overflow: hidden;
    }

    .bs-glyphicons li {
      float: left;
      width: 25%;
      height: 115px;
      padding: 10px;
      margin: 0 -1px -1px 0;
      font-size: 12px;
      line-height: 1.4;
      text-align: center;
      border: 1px solid #ddd;
    }

    .bs-glyphicons .glyphicon {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 24px;
    }

    .bs-glyphicons .glyphicon-class {
      display: block;
      text-align: center;
      word-wrap: break-word; /* Help out IE10+ with class names */
    }

    .bs-glyphicons li:hover {
      background-color: rgba(86, 61, 124, .1);
    }

    @media (min-width: 768px) {
      .bs-glyphicons li {
        width: 12.5%;
      }
    }
    .selecionado{
	    display: inline-block;
	    *display: inline;
	    vertical-align: middle;
	    margin: 0;
	    padding: 0;
	    width: 18px;
	    height: 18px;
	    background: url(../../resources/img/blue.png) no-repeat;
	    border: none;
	    cursor: pointer;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .selecionado{
        background-image: url(../../resources/img/blue@2x.png);
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
    
    .selecionado {
    background-position: 0 0;
}
    .selecionado.hover {
        background-position: -20px 0;
    }
    .selecionado.checked {
        background-position: -40px 0;
    }
    .selecionado.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .selecionado.checked.disabled {
        background-position: -80px 0;
    }
    
  </style>
<title>Usuarios Cadastros</title>
</head>
<body ng-controller="controlerUsuario">
<div class="wrapper">
					<div class="box box-primary">
			            <div class="box-header with-border">
			              <h3 class="box-title">
			              	<span class="fa fa-lg fa-user">Cadastro de Usuário</span>
			              	</h3>
			            </div>
									<div class="box-body">
											<fieldset>
												<legend>Informações Pessoais</legend>
											
												<div class="row">
													<div class="col-md-3">
														<label>Matricula</label> <input class="form-control"
															disabled="disabled" value="{{mat}}" />
													</div>
							
													<div class="col-md-3">
														<label>Data Inclusão</label> <input class="form-control"
															disabled="disabled"
															value="" />
													</div>
													<div class="col-md-4">
														<label>CPF</label> <input class="form-control" value=""
															onkeyup="maskIt(this,event,'###.###.###-##')"
															ng-model="user.cd_pes.nr_cic_pes" />
													</div>
												</div>
												<div class="row">
													<div class="col-md-8">
														<label>Nome</label> 
														<input class="form-control"	ng-model="user.cd_pes.nm_pes"/>
													</div>
													
													<div class="col-md-2">
														<label>RG</label> 
														<input class="form-control"	ng-model="user.cd_pes.cd_pfi.nr_rg"/>
													</div>
													<div class="col-md-2">
														<label>Sexo</label> 
														<select class="form-control select2" ng-model="user.cd_pes.cd_pfi.id_sex">
														  <option selected="selected" value="">Selecione...</option>
										                  <option value="M">Masculino</option>
										                  <option value="F">Feminio</option>
										                </select>
													</div>
													<div class="col-md-2">
														<label>Data Nascimento</label> <input id="dataNascimento" class="form-control" value="" 
															onkeyup="maskIt(this,event,'##/##/####')" maxlength="12"/>
													</div>
													<div class="col-md-2">
														<label>Escolaridade</label> 
														<select class="form-control select2" ng-options="cEscolaridade for cEscolaridade in comboEscolaridade"	ng-model="user.cd_pes.cd_pfi.id_nv_esc">
														  <option selected="selected" value="">Selecione...</option>
										                </select>
													</div>
													<div class="col-md-2">
														<label>Estado Civil</label> 
														<select class="form-control select2" ng-model="user.cd_pes.cd_pfi.id_est_cv" ng-options="cEstadoCivil for cEstadoCivil in comboEstadoCivil">
														  <option selected="selected" value="">Selecione...</option>
										                </select>
													</div>
													<div class="col-md-2">
														<label>Nacionalidade</label> 
														<select class="form-control select2"  ng-model="user.cd_pes.cd_pfi.cd_nac">
														  <option selected="selected" value="">Selecione...</option>
														  <option ng-repeat="cNacionalidade in comboNacionalidade" value="cNacionalidade">{{cNacionalidade.ds_nac_pais}}</option>
										                </select>
													</div>
													<div class="col-md-2">
														<label>Naturalidade</label> 
														<select class="form-control select2" ng-model="user.cd_pes.cd_pfi.cd_uf_nat">
														  <option selected="selected" value="">Selecione...</option>
										                  <option ng-repeat="cNaturalidade in comboNaturalidade" value="cNaturalidade">{{cNaturalidade.nm_uf}}</option>
										                </select>
													</div>
													<div class="col-md-6">
														<label>Nome do Pai</label> 
														<input class="form-control"	ng-model="user.cd_pes.cd_pfi.nm_pai"/>
													</div>
													<div class="col-md-6">
														<label>Nome da Mãe</label> 
														<input class="form-control"	ng-model="user.cd_pes.cd_pfi.nm_mae"/>
													</div>
		
												</div>
											</fieldset>	
<!-- 										Endereço Inicio -->
										<div class="row">
											<div class="col-md-8">
												<fieldset>
													<legend>
														Endereço
													</legend>
													<div class="row">
															<div class="col-md-3">
																<label>CEP</label> 
												              	<div class="input-group">
													                <input type="text" class="form-control" 
													                ng-model="cep" maxlength="8" value="" type="text"  placeHolder="00000000">
													                    <span class="input-group-btn">
													                      <button type="button" class="btn btn-default" 
													                      ng-click="searchEndereco();" style="padding: 9px 12px;">
													                      		<i class="fa fa-search"></i>
													                      </button>
													                    </span>
													             </div>
															</div>
									
															<div class="col-md-8">
																<label>Logradouro</label> <input class="form-control" value=""
																ng-model="logradouro" ng-readonly="isEditEndereco" type="text"  />
															</div>
															<div class="col-md-2">
																<label>Nº</label> <input class="form-control" value="" ng-model="user.cd_pes.cd_end.nr_en"
																	type="text" ng-readonly="isEditEndereco" />
															</div>
															<div class="col-md-4">
																<label>UF</label> 
																<select class="form-control select2" ng-model="uf">
																  <option selected="selected" value="">Selecione...</option>
												                  <option ng-repeat="cNaturalidade in comboNaturalidade" value="cNaturalidade" ng-selected="cNaturalidade.sg_uf == uf">{{cNaturalidade.nm_uf}}</option>
												                </select>
															</div>
															<div class="col-md-6">
																<label>Cidade</label> <input class="form-control" value=""
																ng-model="localidade" type="text" ng-readonly="isEditEndereco"/>
															</div>
															<div class="col-md-4">
																<label>Bairro</label> <input class="form-control" value=""
																ng-model="bairro"	type="text" ng-readonly="isEditEndereco"/>
															</div>
															<div class="col-md-8">
																<label>Complemento</label> <input class="form-control" value=""
																ng-model="complemento"	type="text"  ng-readonly="isEditEndereco"/>
															</div>
													</div>
												</fieldset>
											</div>
<!-- 										Endereço Fim	 -->
<!-- 											Contato Inicio -->
											<div class="col-md-4">		
												<fieldset>
													<legend>
														Contato
													</legend>
														<div class="row">
															<div class="col-md-2" style="padding-right: 0px">
																<input class="form-control" maxlength="2" ng-model="telefone.nr_ddd_tel" value="" placeholder="DDD"	type="text" />
															</div>
															<div class="col-md-5" style="padding-left: 0px;">
																<input class="form-control" maxlength="9" ng-model="telefone.nr_tel" value="" placeholder="Numero de Telefone"	type="text" />
															</div>
															<div class="col-md-5" style="padding-left: 0px;">
																<button class="btn btn-block btn-social btn-primary" ng-click="createTelefone();">
												                	<i class="fa fa-phone"></i> Adicionar Telefone
												              	</button>
															</div>
														</div>
														
															<table class="table table-striped" style="margin-bottom: -10px;">
												             	<tr>	
													             		<td>Telefone</td>
													             		<td>Funções</td>
												             	</tr>
												             	<tr ng-repeat=" telefone in telefones" >
												             			<td style="padding: 6px;">({{telefone.nr_ddd_tel}}){{telefone.nr_tel}}</td>
													             		<td style="padding: 0px;">
													             			<button title="Remover Telefone" id="btn_remove"  ng-click="removeSelecionados(telefones, $index)" class="btn btn-link"><b>Remover</b></button>
													             		</td>	
												             	</tr>
												          </table>
												</fieldset>
											</div>
										</div>	
<!-- 											Contato Fim -->
										<fieldset>
											<legend>
												Acesso ao Sistema
											</legend>
											<div class="row">
												<div class="col-md-4">
													<label>E-Mail</label> <input class="form-control" value=""
														type="text" />
												</div>
												<div class="col-md-4">
													<label>Senha</label> <input class="form-control" value=""
														type="password" />
												</div>
											</div>	
										</fieldset>
									</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-4">
					              <a class="btn btn-block btn-social btn-success" ng-click="postCreateUser();">
					                <i class="fa fa-user-plus"></i> <b>Salvar e Continuar</b>
					              </a>
					            </div>
					            <div class="col-md-4">
					              <a class="btn btn-block btn-social btn-dropbox" ng-click="parseEndereco();">
					                <i class="fa fa-rotate-left"></i> <b>Salvar e Voltar</b>
					              </a>
					            </div>
					            <div class="col-md-4">
					              <a class="btn btn-block btn-social btn-google" ng-click="init();">
					                <i class="glyphicon glyphicon-ban-circle"></i> <b>Limpar Formulario</b>
					              </a>
					            </div> 
				            </div>
						</div>
					</div>
</div>
</body>
</html>