<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="usuarioApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<!-- Import de JavaScript -->
<script type="text/javascript" src="resources/angular.min.js"></script>
<script type="text/javascript"	src="resources/angular-locale_pt-br.js"></script>
<script type="text/javascript"	src="resources/app/js/controllers/usuario/usuario-controller.js"></script>
<script type="text/javascript"	src="resources/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"	src="resources/app/js/custom/util.js"></script>
<!-- <script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- Import de CSS -->
<link href="resources/bootstrap/css/bootstrap.min.css"	rel="stylesheet" type="text/css" />
<link href="resources/css/custom.css"	rel="stylesheet" type="text/css" />

<title>STW - Login</title>
</head>
<body ng-controller="usuarioCtrl" class="hold-transition login-page">
	<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Store</b>WEB</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"><b>Iniciar Sessão</b></p>

<!--     <form action="../../index2.html" method="post"> -->
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Email" ng-model="usuario.cd_log_usu">
        
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Senha" ng-model="usuario.cd_snh_usu">
        
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="login();">Entrar</button>
        </div>
      </div>
<!--     </form> -->


    <a href="#">Esqueci minha Senha</a><br>

  </div>
</div>
</body>
</html>