<!-- <section class="content-header">
    <h1>
        Raça >>
        <small>Nova Raça</small>
    </h1>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Nova Raça</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Raça </label>
                                <input name="raca-nome" type="text" [(ngModel)]="raca._nome" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-block btn-social btn-dropbox" (click)="push()">
                            <i class="fa fa-lg fa-check-square-o"></i>Salvar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort class="table table-striped">
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let raca"> {{raca._codigo}} </td>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                    <td mat-cell *matCellDef="let raca"> {{raca._nome}} </td>
                </ng-container>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let raca" class="td-acao">
                        <a href="#" title="editar registro" (click)="edit(raca)">
                            <span class=" fa fa-edit fa-lg"></span>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let raca; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
        </div>
    </div>
</section> -->
<app-header></app-header>
<app-menu></app-menu>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</div>
<app-footer></app-footer>