<section class="content-header">
  <h1>
    Membros >>
    <small>Novo Membro</small>
  </h1>
</section>
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="box">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <span class="ui-float-label">
                  <input id="input-nome" name="nome" type="text" [(ngModel)]="membro._nome" class="form-control" pInputText re>
                  <label for="input-nome">Nome</label>
                </span>
              </div>
              <div class="col-md-6">
                <span class="ui-float-label">
                  <input id="input-apelido" name="apelido" type="text" [(ngModel)]="membro._apelido" class="form-control" pInputText>
                  <label for="input-apelido">Apelido</label>
                </span>
                <br/>
              </div>
              <!-- /.box-body -->
              <div class="col-md-12">
                <button type="button" class="btn btn-block btn-social btn-dropbox" (click)="push()">
                  <i class="fa fa-lg fa-check-square-o"></i>Salvar Membro
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <span class="ui-float-label">
                <input id="input-nome-personagem" type="text" [(ngModel)]="personagem._nome" class="form-control" pInputText>
                <label for="input-nome-personagem">Personagem</label>
              </span>
            </div>
            <br/>
          </div>
          <div class="row"> 
            <br/>
            <div class="col-md-12">
              <button type="button" class="btn btn-block btn-social btn-dropbox" (click)="addPersonagem()">
                <i class="fa fa-lg fa-check-square-o"></i>Adiciona Personagem
              </button>
            </div>
          </div>
            <table class="table table-bordered">
              <tr>
                <th>Personagem</th>
                <th>Funcao</th>
              </tr>
              <tr *ngFor="let personagem of membro._personagens">
                <td>{{personagem._nome}}</td>
                <td>{{personagem._funcao}}</td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Lista de membros</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>Nome</th>
          <th>Apelido</th>
        </tr>
        <tr *ngFor="let membro of membros">
          <td>{{membro._nome}}</td>
          <td>{{membro._apelido}}</td>
        </tr>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</section>