<div class="row">
  <div class="col-md-8">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title">Classe
          <small>>> Nova Classe</small>
        </h3>
      </div>
      <div class="box-body pad">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="pers-raca">Raça</label>
              <select class="form-control">
                <option>Selecione...</option>
                <option>Tauren</option>
                <option>Elfo Sangrento</option>
                <option>Troll</option>
              </select>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label for="classe-nome">Classe</label>
              <input type="text" name="classe-nome" id="classe-nome" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="button" class="btn btn-block btn-social btn-default">
          <i class="fa fa-lg fa-check-square-o"></i>Salvar Raça
        </button>
      </div>
    </div>
  </div>
</div>